@import "tailwindcss";

:root {
  --p1: #80572e;
  --p2: #222222;
  --bg: #ededed;
  --bg2: #f6f5f5;
  --f1: #e9e1d8;
}

@theme inline {
  --color-background: #ededed;
  --color-background2: #f6f5f5;
  --color-primary: #80572e;
  --color-secondary: #222222;
  --color-footer1: #e9e1d8;

  
  --font-display: var(--font-cormorant);
}

body {
  font-family: var(--font-gilroy), sans-serif;
}
