@import "tailwindcss";

:root {
  --p1: #80572E;
  --p2: #222222;
  --bg: #EDEDED;
  --bg2: #F6F5F5;
  --f1: #E9E1D8;
}

@theme inline {
  --color-background: #EDEDED;
  --color-background2: #F6F5F5;
  --color-primary: #80572E;
  --color-secondary: #222222;
  --color-footer1: #E9E1D8;
}


body {
  font-family: var(--font-gilroy), sans-serif;
}